html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
    color: white;
    font-weight:300;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
    color: white;
}

#index-banner {
    max-height: 20%;
}

.title {
text-align: center;
}

#head-file-input, #face-file-input {
  display: none;
}

#head-file-button, #face-file-button {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin: 1.4em 10%;
  padding: 1em;
  width: 70%;

  color: white;
  border: 3px solid white;
}

@media (min-width: 768px ) {
#head-file-button, #face-file-button {
  width: 75%;
}
}

.submit-section {
  background-color: white;
  position: absolute;
  bottom: 0;
  max-height: 30%;
  width: 100%;
  z-index: 1;
  clear: both;
  box-sizing: border-box;
}

#submit-btn {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  margin: 2em 10%;
  padding: 1em;
  width: 80%;
  color: black;
  border: 3px solid black;
  background-color: white;
}

#restart-btn {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    margin: 2em 10%;
    padding: 1em;
    width: 70%;
    color: black;
    border: 3px solid black;
    background-color: white;
}

.result-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.footer {
font-size: 0.8em;
color: black;
text-align: center;
padding-bottom: 1em;
}

.blue-title {
color: #14ABBE;
}

.yellow-title {
color: #FCA411;
}

.red-title {
color: #CD1648;
}
